.glavn-div{
    background-image: url("../../assets/image/Prirora.jpg");
    width: 1530px;
    height: 690PX;
    margin: 0 auto;
    background-repeat: no-repeat;
    align-items: center;
    opacity: 3;
    div{
        align-items: center;
        
    }
}
